<footer>
    <img class="insta" alt="" src="/assets/icons8-instagram-96 (1).png" />
    <p><a href="https://github.com/gingerdefino/gingerdefino.github.io" target="_blank">Made with ♡</a> by Ginger Defino</p>
</footer>
<script src="/assets/menu.js" defer></script>