<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <base href="{{deployURL}}">
    <meta name="description" content="A collection of my art and designs">
    <meta name="author" content="Ginger Defino">
    <link rel="icon" type="image/png" href="/assets/favicon.ico">
    <meta property="og:image" content="<!-- add link here -->" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Elsie&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">

    <link rel="stylesheet" href="/assets/menu.css">
    <link rel="stylesheet" href="/assets/styles.css">


    </head>
<!--
    <div>
        <div class="scallop"> <p> Fantastic!</p> </div>
        <div class="after-scallop">
            <p>Tell all your friends and family</p>  
        </div>
    </div>
    -->