<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'About | Ginger Defino Art & Design' %}
  <body class="about">
    {% include 'header' %}
    <main id="main-content">
      
      <img class="profile" alt="Profile Picture" src="/assets/ProfilePic.PNG" />
      <h1>About Me</h1>
      <h2>Hi! I'm Ginger!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo
        amet voluptate quis doloremque harum. Omnis esse atque, mollitia
        consequatur dolore dicta ratione, dignissimos sunt molestias earum
        obcaecati! Accusantium, ipsam.
      </p>
    </main>
    {% include 'footer' %}
  </body>
</html>
