<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'About | Ginger Defino Art & Design' %}
  <body class="about after-scallop">
    {% include 'header' %}
    <main id="main-content">
      <img class="profile" alt="Profile Picture" src="/assets/ProfilePic.PNG" />
      <div>
      <h1>About Me</h1>
      <h2>Hi! I’m Ginger!</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo
        amet voluptate quis doloremque harum. Omnis esse atque, mollitia
        consequatur dolore dicta ratione, dignissimos sunt molestias earum
        obcaecati! Accusantium, ipsam. xxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfnsnfjkdnjgnjsdngjdngjndjgruhgurdhgjxkfg
        ngjsdnjgsdnjgubkseugfguwgirguawgkrgakwrgayegyrgeygfahbfbhbhbhbhbhbhbdhbdvbdvbhgingerginger
        gingergingergingergingegingergingergingergingergingwrgingergingerginger
        ngjsdnjgsdnjgfguwgirguawgkrgakwrgayegyrgeyg xxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfnsnfjkdnjgnjsdngjdngjndjgruhgurdhgjxkfg
        ngjsdnjgsdnjgubkseugfguwgirguawgkrgakwrgayegyrgeygfahbfbhbhbhbhbhbhbdhbdvbdvbhgingergin
        gergingergingergingergingegingergingergingergingergingwrgingergingerginger
        ngjsdnjgsdnjgfguwgirguawgkrgakwrgayegyrgeyg
      </p>
      </div>

      <div>
      <h2>Technical Skills</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo
        amet voluptate quis doloremque harum. Omnis esse atque, mollitia
        consequatur dolore dicta ratione, dignissimos sunt molestias earum
        obcaecati! Accusantium, ipsam. xxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfnsnfjkdnjgnjsdngjdngjndjgruhgurdhgjxkfg
        ngjsdnjgsdnjgubkseugfguwgirguawgkrgakwrgayegyrgeygfahbfbhbhbhbhbhbhbdhbdvbdvbhgingerginger
        gingergingergingergingegingergingergingergingergingwrgingergingerginger
        ngjsdnjgsdnjgfguwgirguawgkrgakwrgayegyrgeyg xxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfnsnfjkdnjgnjsdngjdngjndjgruhgurdhgjxkfg
        ngjsdnjgsdnjgubkseugfguwgirguawgkrgakwrgayegyrgeygfahbfbhbhbhbhbhbhbdhbdvbdvbhgingergin
        gergingergingergingergingegingergingergingergingergingwrgingergingerginger
        ngjsdnjgsdnjgfguwgirguawgkrgakwrgayegyrgeyg
      </p>
      </div>

      <div>
      <h2>Hobbies</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt quo
        amet voluptate quis doloremque harum. Omnis esse atque, mollitia
        consequatur dolore dicta ratione, dignissimos sunt molestias earum
        obcaecati! Accusantium, ipsam. xxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfnsnfjkdnjgnjsdngjdngjndjgruhgurdhgjxkfg
        ngjsdnjgsdnjgubkseugfguwgirguawgkrgakwrgayegyrgeygfahbfbhbhbhbhbhbhbdhbdvbdvbhgingerginger
        gingergingergingergingegingergingergingergingergingwrgingergingerginger
        ngjsdnjgsdnjgfguwgirguawgkrgakwrgayegyrgeyg xxxxxxxxxxxxxxxx
        xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxfnsnfjkdnjgnjsdngjdngjndjgruhgurdhgjxkfg
        ngjsdnjgsdnjgubkseugfguwgirguawgkrgakwrgayegyrgeygfahbfbhbhbhbhbhbhbdhbdvbdvbhgingergin
        gergingergingergingergingegingergingergingergingergingwrgingergingerginger
        ngjsdnjgsdnjgfguwgirguawgkrgakwrgayegyrgeyg
      </p>
      </div>

    </main>
    {% include 'footer' %}
  </body>
</html>
