<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'About | Ginger Defino Art & Design' %}
  <body class="about after-scallop">
    {% include 'header' %}
    <main id="main-content">
      <div>
        <section>
          <img class="profile" alt="Profile Picture" src="/assets/ProfilePic.PNG" />
        </section>
        <section class="about-me-section">
          <h1>About Me</h1>
          <h2>Hi! I’m Ginger!</h2>
          <p>
            I'm a artist and designer from the Hudson Valley area. I am currently studying Graphic Design 
            at suny New Paltz with interest in web development. 
          </p>
        </section>
      </div>
      <div>
        <section>
          <h2>Technical Skills</h2>
          <ul>
            <li>Adobe Illustrator</li>
            <li>Adobe InDesign</li>
            <li>Adobe Photoshop</li>
            <li>Html</li>
            <li>CSS</li>
          </ul>
        </section>

        <section>
          <h2>Hobbies</h2>
          <ul>
            <li>hobby one</li>
            <li>hobby two</li>
            <li>hooby three</li>
          </ul>
        </section>
      </div>

    </main>
    {% include 'footer' %}
  </body>
</html>
