<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Contact | Ginger Defino Art & Design' %}
  <body class="contact after-scallop">
    {% include 'header' %}
    <main id="main-content">
      <div id="contact-box">
        <div>
          <h2 class="red-font">Send Me A Message!</h2>
          <img class="envelope" alt="Red Envelope" src="/assets/red-letter (1).png" />
        </div>
        <div id="ff-compose"></div>
        <script
          async
          defer
          src="https://formfacade.com/include/118345251690742197610/form/1FAIpQLSe9dssDNsiaOXK1BNuvZeFe6xxyCh2tlQw6nSA5-xKSsKoKtg/classic.js?div=ff-compose"
        ></script>
      </div>
    </main>
    {% include 'footer' %}
  </body>
</html>
