<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Ginger Defino Art & Design' %}
  <body class="home">
    {% include 'header' %}
    <main id="main-content">
     <div>
            <h1>Ginger Defino</h1>
        </div>
        <p>I'm an artist in the Hudson Valley with a focus in<br> graphic design and fine art.</p>

        <h2>Featured Work</h2>

        <div id="featuredWork">
            <a href="#">
                <img class="featuredIMG" alt="" src="/assets/Flag.jpg" />
            </a>
            <a href="#">
                <img class="featuredIMG" alt="" src="/assets/miss lucy's glass mockup.jpg" />
            </a>
            <a href="#">
                <img class="featuredIMG" alt="" src="/assets/Fruit@1x_1.png" />
            </a>
            <a href="#">
                <img class="featuredIMG" alt="" src="/assets/Thrift2fightMockup1.jpg" />
            </a>
        </div>

        <a href="#">
            <img class="profile" alt="" src="/assets/ProfilePic.PNG" />
            <h2>About Me</h2>
        </a>

        <div id="contact-box">
            <div>
                <h2 class="red-font">Send Me A Message!</h2>
                <img class="envelope" alt="" src="/assets/red-letter (1).png" />
            </div>
            <div id="ff-compose"></div>
            <script async defer
                src="https://formfacade.com/include/118345251690742197610/form/1FAIpQLSe9dssDNsiaOXK1BNuvZeFe6xxyCh2tlQw6nSA5-xKSsKoKtg/classic.js?div=ff-compose"></script>
        </div>

    </main>
    {% include 'footer' %}
  </body>
</html>
