<!DOCTYPE html>
<html lang="en">
  {% include 'head', title:'Work | Ginger Defino Art & Design' %}
  <body class="work after-scallop">
    {% include 'header' %}
    <main id="main-content">
      <h1>Projects</h1>
      <p>
        If you have any questions about any <br />projects or want to discuss
        future projects, <br />feel free to contact me.
      </p>
      <div>
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
      </div>
    </main>
    {% include 'footer' %}
  </body>
</html>
