<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Work | Ginger Defino Art & Design' %}

<body class="work after-scallop">
  {% include 'header' %}
  <main id="main-content">
    <h1>Projects</h1>
    <p>
      If you have any questions about any <br />projects or want to discuss
      future projects, <br />feel free to contact me.
    </p>

    <div class="container">
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>
      
    </div>

  </main>
  {% include 'footer' %}
</body>

</html>