<!DOCTYPE html>
<html lang="en">
{% include 'head', title:'Work | Ginger Defino Art & Design' %}

<body class="work after-scallop">
  {% include 'header' %}
  <main id="main-content">
    <h1>Projects</h1>
    <p>
      If you have any questions about any <br />projects or want to discuss
      future projects, <br />feel free to contact me.
    </p>

    <div class="container">
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Sunday Chocolates" src="/assets/SundayChoc.png" />
        <div class="card-text">
          <h3>Sunday Chocolates</h3>
          <p>Sunday Chocolates is a luxury chocolate brand taking stylistic inspiration from the Art Deco movement.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Canto en Resistencia" src="/assets/LA Phil.jpg" />
        <div class="card-text">
          <h3>Canto en Resistencia</h3>
          <p>Poster for La Phil Canto en Resistencia concert. This concert was a celebration of the iconic protest music of Latina artists</p>
        </div>
      </div>
      <div class="card">
        <img alt="Miss Lucy's" src="/assets/MissLucysMenu.jpg" />
        <div class="card-text">
          <h3>Miss Lucy's</h3>
          <p>For this project, I redesigned branding for a high-end casual restaurant. I chose to keep the theme of contrast between bold and decorative.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Form Redesign" src="/assets/Defino_G_Remodel_Render.jpg" />
        <div class="card-text">
          <h3>Form Redesign</h3>
          <p>For this project, I redesigned a massage brush to have a more comfortable feel when held.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Thrift 2 Fight Magazine Spread" src="/assets/Thrift2fightMockup1.jpg" />
        <div class="card-text">
          <h3>Thrift 2 Fight Magazine Spread</h3>
          <p>I took an article about the local store Thrift 2 Fight and designed a magazine spread to bring it to life.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Tastefully Decaying Embroidery" src="/assets/Fruit@1x_1.png" />
        <div class="card-text">
          <h3>Tastefully Decaying</h3>
          <p>A diptych portraying beauty in age and decaying.</p>
        </div>
      </div>
      <div class="card">
        <img alt="Self Reflection Flag" src="/assets/Flag.jpg" />
        <div class="card-text">
          <h3>Self Discovery</h3>
          <p>A journey of self-discovery through fabric, embroidery, beading, and charms.</p>
        </div>
      </div>

    </div>

  </main>
  {% include 'footer' %}
</body>

</html>